Repository hiais/ai-rule-hub: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, check-json, prettier, eslint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: trailing-whitespace
        name: Fix trailing whitespace
        entry: python -m pre_commit_hooks.trailing_whitespace_fixer
        language: system
        types: [text]

      - id: end-of-file-fixer
        name: Fix end of file
        entry: python -m pre_commit_hooks.end_of_file_fixer
        language: system
        types: [text]

      - id: check-yaml
        name: Check YAML
        entry: python -m pre_commit_hooks.check_yaml
        language: system
        files: \.(yml|yaml)$

      - id: check-json
        name: Check JSON
        entry: python -m pre_commit_hooks.check_json
        language: system
        files: \.json$

      - id: prettier
        name: Prettier format
        entry: npx prettier --write
        language: system
        files: \.(md|markdown|json|ya?ml|css|scss|html|js|ts|tsx)$

      - id: eslint
        name: ESLint fix
        entry: npx eslint --fix
        language: system
        files: \.(js|ts|tsx)$

chore(lint): finalize Prettier/ESLint setup and .gitignore
  .gitignore
  .pre-commit-config.yaml
  .prettierignore
  .prettierrc.json
  README.md
  docs/architecture.md
  draft.md
  eslint.config.js
  package-lock.json
  package.json
Due: check-yaml, check-json, prettier, eslint

同步分类命名与格式修复
  .gitignore
  README.md
  draft.md
  extension/package-lock.json
  extension/package.json
  extension/resources/hub.svg
  extension/src/commands/register.ts
  extension/src/config/ConfigManager.ts
  extension/src/core/files/FileOperations.ts
  extension/src/core/metadata/MetadataManager.ts
  extension/src/core/storage/StorageManager.ts
  extension/src/extension.ts
  extension/src/types/index.ts
  extension/src/ui/ContentLibraryProvider.ts
  extension/tsconfig.json
Due: check-json, prettier, eslint

chore: add .gitattributes to enforce LF line endings
  .gitattributes
Due: none

可搜可插可保存可排序
  README.md
  docs/architecture.md
  docs/rules.md
  extension/package.json
  extension/src/commands/register.ts
  extension/src/config/ConfigManager.ts
  extension/src/core/metadata/MetadataManager.ts
  extension/src/core/storage/StorageManager.ts
  extension/src/extension.ts
  extension/src/types/index.ts
  extension/src/ui/ContentLibraryProvider.ts
  extension/src/ui/SearchViewProvider.ts
  preview/search-demo.html
  preview/server.cjs
Due: check-json, prettier, eslint

chore: format via hooks; add LICENSE and repository; icon assets; packaging update
  extension/LICENSE
  extension/README.md
  extension/ai-rule-hub-0.1.0.vsix
  extension/package-lock.json
  extension/package.json
  extension/resources/icon-128.png
  extension/resources/icon-256.png
  extension/resources/source.png
  extension/scripts/generate-icon.cjs
  extension/src/commands/register.ts
  extension/src/core/metadata/MetadataManager.ts
  extension/src/core/storage/StorageManager.ts
  preview/icon-128.png
  preview/search-demo.html
Due: check-json, prettier, eslint

chore: release 0.1.1 setup (docs, CI, LICENSE, publisher)
  .github/workflows/ci.yml
  .github/workflows/release.yml
  CHANGELOG.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  LICENSE
  README.md
  SECURITY.md
  extension/.vscodeignore
  extension/README.md
  extension/package.json
  package.json
Due: check-yaml, check-json, prettier

chore(ci): enable manual dispatch for release workflow
  .github/workflows/release.yml
Due: check-yaml, prettier

docs: add complete publishing guide and link from READMEs
  README.md
  docs/publishing.md
  extension/README.md
Due: prettier

ci: ensure Open VSX namespace creation before publish\ndocs: add Open VSX namespace prerequisite and troubleshooting
  .github/workflows/release.yml
  docs/publishing.md
Due: check-yaml, prettier

ci: run Open VSX publish regardless of VSCE failure\n- add continue-on-error to VSCE step\n- use always() for Open VSX step
  .github/workflows/release.yml
Due: check-yaml, prettier

ci: publish exact built VSIX and clean stale artifacts\n- remove extension/*.vsix before packaging\n- resolve VSIX filename from package.json\n- use resolved file for artifact and ovsx publish
  .github/workflows/release.yml
Due: check-yaml, prettier

ci: robust VSIX env export and ovsx installation\n- write VSIX_FILENAME via node to \n- ensure ovsx install in publish step\n- make namespace step always() with token
  .github/workflows/release.yml
Due: check-yaml, prettier

ci: detect built VSIX dynamically and use exact path\n- resolve VSIX_FILEPATH after packaging\n- use VSIX_FILEPATH for artifact upload and ovsx publish
  .github/workflows/release.yml
Due: check-yaml, prettier

docs(prompts): 补充约定式提交规范与示例说明
  README.md
  docs/prompts.md
  docs/publishing.md
  docs/rules.md
  extension/ai-rule-hub-0.1.1.vsix
Due: prettier

perf(extension): speed up first open and segment refresh
  extension/src/extension.ts
  extension/src/ui/ContentLibraryProvider.ts
  extension/src/ui/SearchViewProvider.ts
Due: prettier, eslint

perf(search): 稳定分段标签与刷新体验
  extension/src/ui/SearchViewProvider.ts
Due: prettier, eslint

fix(storage): 创建 metadata 目录并顺序初始化避免 ENOENT
  extension/src/core/metadata/MetadataManager.ts
  extension/src/extension.ts
Due: prettier, eslint

chore: release 0.1.2
  CHANGELOG.md
  extension/package.json
Due: check-json, prettier

chore(release): 0.1.3
  .gitignore
  extension/ai-rule-hub-0.1.1.vsix
  extension/package.json
  extension/resources/starter/agent/agent-starter.md
  extension/resources/starter/mcp/mcp-starter.json
  extension/resources/starter/prompt/prompt-RIPER-5.md
  extension/resources/starter/prompt/prompt-starter.md
  extension/resources/starter/rule/rule-AICP.md
  extension/resources/starter/rule/rule-RIPER-5-CN.md
  extension/resources/starter/rule/rule-starter.md
  extension/resources/starter/workflow/workflow-claude5s.md
  extension/resources/starter/workflow/workflow-starter.md
  extension/scripts/test-starter-install.cjs
  extension/src/core/startup/StarterInstaller.ts
  extension/src/extension.ts
  package.json
Due: check-json, prettier, eslint
